<h1>Answer Node Basic</h1>
<div id="answer">
  <div>
    <button onclick="q3()">Q3</button>
    <span
      >Get all the posts and comments from the API. Map the data with the users
      array. The data format should be like this:</span
    >
  </div>
  <div>
    <button onclick="q4()">Q4</button>
    <span>Filter only users with more than 3 comments.</span>
  </div>
  <div>
    <button onclick="q5()">Q5</button>
    <span>Reformat the data with the count of comments and posts</span>
  </div>
  <div>
    <button onclick="q6()">Q6</button>
    <span>Who is the user with the most comments/posts?</span>
  </div>
  <div>
    <button onclick="q7()">Q7</button>
    <span>Sort the list of users by the postsCount value descending?</span>
  </div>
  <div>
    <button onclick="q8()">Q8</button>
    <span
      >Get the post with ID of 1 via API request, at the same time get comments
      for post ID of 1 via another API request. Merge the post data with
      format</span
    >
  </div>

  <hr />
  <div id="result">result</div>
</div>
<span id="users" hidden> <%= JSON.stringify(users); %> </span>
<span id="posts" hidden> <%= JSON.stringify(posts); %> </span>
<span id="comments" hidden> <%= JSON.stringify(comments); %> </span>
<script type="module">
  const usersUrl = 'https://jsonplaceholder.typicode.com/users';
  const postsUrl = 'https://jsonplaceholder.typicode.com/posts';
  const commentsUrl = 'https://jsonplaceholder.typicode.com/comments';
  async function fetchInfo() {
    const userPromise = fetch(usersUrl).then((res) => res.json());
    const postPromise = fetch(postsUrl).then((res) => res.json());
    const commentPromise = fetch(commentsUrl).then((res) => res.json());
    const info = await Promise.all([userPromise, postPromise, commentPromise]);
    return info;
  }
  // const [users, posts, comments] = await fetchInfo();
  const users = JSON.parse(document.querySelector('#users').textContent);
  const posts = JSON.parse(document.querySelector('#posts').textContent);
  const comments = JSON.parse(document.querySelector('#comments').textContent);

  const resultDiv = document.querySelector('#result');
  function render(result) {
    resultDiv.innerHTML = `<pre>${JSON.stringify(result, null, 2)}</pre>`;
  }

  window.q2 = () => {
    const result = users.map((user) => {
      let userId = user.id;
      const postByUsers = [];
      posts.forEach((post) => {
        if (post.userId === userId) {
          let { id, body, title } = post;
          postByUsers.push({ id, body, title });
        }
      });

      const userPostIds = postByUsers.map((post) => post.id);

      const commentByPost = [];
      comments.forEach((comment) => {
        if (userPostIds.includes(comment.postId)) {
          let { id, postId, name, body } = comment;
          commentByPost.push({ id, postId, name, body });
        }
      });

      return {
        id: userId,
        name: user.name,
        username: user.username,
        email: user.email,
        posts: postByUsers,
        comments: commentByPost,
        commentsCount: commentByPost.length,
        postsCount: postByUsers.length,
      };
    });

    render(result);
    return result;
  };

  window.q3 = () => {
    let res = q2();
    res = res.map((obj) => {
      delete obj.commentsCount;
      delete obj.postsCount;
      return obj;
    });

    render(res);
    return res;
  };

  window.q4 = () => {
    let res = q2();
    res = res.filter((data) => data.commentsCount > 3);
    render(res);
    return res;
  };

  window.q5 = () => {
    let res = q2();
    res = res.map((obj) => {
      delete obj.posts;
      delete obj.comments;
      return obj;
    });
    render(res);
    return res;
  };

  window.q6 = () => {
    let res = q5();
    res = {
      mostPost: res.sort((a, b) => b.postsCount - a.postsCount)[0],
      mostComment: res.sort((a, b) => b.commentsCount - a.commentsCount)[0],
    };
    render(res);
    return res;
  };

  window.q7 = () => {
    let res = q5();
    res = res.sort((a, b) => b.postsCount - a.postsCount);
    render(res);
    return res;
  };

  window.q8 = async () => {
    const postPromise = fetch(
      'https://jsonplaceholder.typicode.com/posts/1'
    ).then((res) => res.json());
    const commentPromise = fetch(
      'https://jsonplaceholder.typicode.com/comments?postId=1'
    ).then((res) => res.json());
    const [post, comments] = await Promise.all([postPromise, commentPromise]);
    const result = { ...post, comments };
    render(result);
    return result;
  };
</script>
